body {
  margin: 0;
  font-family: 'museo-sans';
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body .header-appbar {
  background-color: black !important;
  opacity: 1 !important;
  box-shadow: none;
  align-items: center; /* Centers content vertically */
  width: 100%;
  z-index: 1100;
  top: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: y-hidden; /* Prevent horizontal scrolling */
  height: 100%; /* Use percentage height to avoid overflows */
}

* {
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.app-container {
  min-height: 100vh; /* Ensure your main container fills the viewport */
}