body {
  margin: 0;
  font-family: 'museo-sans';
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body .header-appbar {
  background-color: black !important;
  opacity: 1 !important;
  box-shadow: none;
  align-items: center; /* Centers content vertically */
}

body, html {
  overflow-x: hidden;
  overscroll-behavior: none;
}