.header-appbar {
  background-color: black;
  transition: top 0.3s ease-in-out;
}

.header-appbar.hidden {
  top: -64px; /* Move header out of view */
}

.header-appbar.visible {
  top: 0; /* Bring header into view */
}

.header-logo {
  margin: 0 auto; /* Center horizontally within the AppBar */
  text-align: center; /* Ensure the text is centered */
  display: flex; /* Allows alignment adjustments */
  justify-content: center; /* Centers content horizontally */
}