.job-list-container {
    position: relative;
    padding: 2rem 0;
  }
  .timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: white;
    transform: translateX(-50%);
  }
  @media (max-width: 768px) {
    .timeline-line {
      display: none; /* Hide timeline for smaller screens */
    }
  }